package service

import (
	"github.com/leijeng/huo-core/core/base"
)

type {{.ClassName}}Service struct {
	*base.BaseService
}

var Ser{{.ClassName}} = {{.ClassName}}Service{
	base.NewService("{{.ConfDbName}}"),
}

